@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  margin: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.volume-control {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
}

.wrap-image {
  position: relative;
}
.wrap-image::before,
.wrap-image::after {
  content: "";
  width: 115%;
  height: 115%;
  position: absolute;
  z-index: 1;
  border: 2px solid black;
  transition: all 1s ease-out;
}
.wrap-image::before {
  background-color: #e0e4e8;
  top: -15px;
  left: -15px;
}
.wrap-image::after {
  bottom: -15px;
  right: -15px;
}
.wrap-image:hover::before {
  background-color: transparent;
  border: none;
  top: 15px;
  left: 15px;
}
.wrap-image:hover::after {
  border: none;
  bottom: 15px;
  right: 15px;
}

.glitch-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
}
